<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <style>
      .flex-col{
          display: flex;
          flex-direction: column;
      }
      .flex-row{
          display: flex;
          flex-direction: row;
      }
      .content{
          justify-content: space-between;
          width: 500px;
          border:5px solid gray;
      }
      .row-lable{
          width: 80px;
          margin-right: 20px;
      }
      .start{
          margin: 0 20px;
      }
      .left-centet{
        justify-content: space-between;
      }
  </style>
</head>
<body>
  <div class="content flex-row">
      <div class="content-left">
        <div class="left-top flex-row">
            <div class="row-lable">难度</div>
            <div class="start">星星</div>
            <div>福建应届战力称号</div>
        </div>
        <div class="left-count flex-row">
            <div class="row-lable">通关战力称号 </div>
            <div class="row-lable">参与人数 </div>
            <div class="row-lable">通关人数 </div>
        </div>
        <div class="left-centet flex-row">
            <div class="left-centet-left">简介</div>
            <div class="left-centet-right">图形</div>
        </div>
        <div class="left-bottom flex-row">
            <div class="row-lable">难度 </div>
            <div class="">进度条 </div>
        </div>
      </div>
      <div class="content-right">
          <div style="text-align: right;">图标</div>
          <div>前置条件</div>
          <div>图</div>
          <div>接收挑战</div>
      </div>



</body>
</html>
