<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改战力称号')" />
    <th:block th:include="include :: jasny-bootstrap-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-medal-edit" th:object="${ywMedal}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">称号：</label>
                <div class="col-sm-8">
                    <input name="chenghao" th:field="*{chenghao}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">类别：</label>
                <div class="col-sm-8">
                    <select name="leibie" class="form-control m-b" th:with="type=${@dict.getType('yw_medal_leibie')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{leibie}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">等级：</label>
                <div class="col-sm-8">
                    <select name="dengji" class="form-control m-b" th:with="type=${@dict.getType('yw_medal_dengji')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{dengji}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">通关天数：</label>
                <div class="col-sm-8">
                    <input name="biaozhi" th:field="*{biaozhi}" class="form-control" type="text" placeholder="超过该时间，需要重新挑战">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">图标：</label>
                <div class="fileinput fileinput-new col-sm-8" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail " data-trigger="fileinput" style="width: 200px; height: 150px;">
                        <img th:src="*{tupian}" >
                    </div>
                    <div>
                        <span class="btn btn-white btn-file"><span class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span><input type="file"></span>
                        <a href="#" class="btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">通关技能：</label>
                <div class="col-sm-8">
                    <input name="beizhu" th:field="*{beizhu}" class="form-control" type="text" placeholder="主考知识点">
                    <input id="tupian" name="tupian" th:field="*{tupian}" class="form-control"  type="hidden">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">通关分值：</label>
                <div class="col-sm-8">
                    <input name="fenduankaishi" th:field="*{fenduankaishi}" class="form-control" type="text" placeholder="100*类别*等级">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">加持战力：</label>
                <div class="col-sm-8">
                    <input name="fenduanjieshu" th:field="*{fenduanjieshu}" class="form-control" type="text" placeholder="100*类别*等级">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">所需学能：</label>
                <div class="col-sm-8">
                    <input name="delFlag" th:field="*{delFlag}" class="form-control" type="text" placeholder="需要支付学能开启挑战">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">简介：</label>
                <div class="col-sm-8">
                    <input name="remark" id="remark" th:field="*{remark}" class="form-control" type="hidden">
                    <div id="editor" class="summernote"></div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jasny-bootstrap-js" />
    <th:block th:include="include :: summernote-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/medal";
        $("#form-medal-edit").validate({
            focusCleanup: true
        });

        $('.summernote').summernote({
            placeholder: '请输入模型简介',
            height : 192,
            lang : 'zh-CN',
            followingToolbar: false,
            callbacks: {
                onImageUpload: function (files) {
                    sendFile(files[0], this);
                }
            }
        });
        var content = $("#remark").val();
        $('#editor').summernote('code', content);

        function submitHandler() {
            if ($.validate.form()) {
                var sHTML = $('.summernote').summernote('code');
                $("#remark").val(sHTML);
                var img = $(".fileinput-preview").children("img").attr("src");
                $("#tupian").val(img);
                $.operate.save(prefix + "/edit", $('#form-medal-edit').serialize());
            }
        }
    </script>
</body>
</html>
