<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.music.mapper.MusicPayMapper">
    
    <resultMap type="MusicPay" id="MusicPayResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="payMoney"    column="pay_money"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payMsg"    column="pay_msg"    />
        <result property="payType"    column="pay_type"    />
        <result property="orderId"    column="order_id"    />
        <result property="memberValidNum"    column="member_valid_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectMusicPayVo">
        select id, user_id, pay_money, pay_time, pay_msg, pay_type, order_id, member_valid_num, create_by, create_time, update_by, update_time, remark, del_flag from music_pay
    </sql>

    <select id="selectMusicPayList" parameterType="MusicPay" resultMap="MusicPayResult">
        <include refid="selectMusicPayVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
        </where>
    </select>
    
    <select id="selectMusicPayById" parameterType="String" resultMap="MusicPayResult">
        <include refid="selectMusicPayVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMusicPay" parameterType="MusicPay">
        insert into music_pay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="payMoney != null  and payMoney != ''">pay_money,</if>
            <if test="payTime != null ">pay_time,</if>
            <if test="payMsg != null  and payMsg != ''">pay_msg,</if>
            <if test="payType != null  and payType != ''">pay_type,</if>
            <if test="orderId != null  and orderId != ''">order_id,</if>
            <if test="memberValidNum != null ">member_valid_num,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="payMoney != null  and payMoney != ''">#{payMoney},</if>
            <if test="payTime != null ">#{payTime},</if>
            <if test="payMsg != null  and payMsg != ''">#{payMsg},</if>
            <if test="payType != null  and payType != ''">#{payType},</if>
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="memberValidNum != null ">#{memberValidNum},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateMusicPay" parameterType="MusicPay">
        update music_pay
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="payMoney != null  and payMoney != ''">pay_money = #{payMoney},</if>
            <if test="payTime != null ">pay_time = #{payTime},</if>
            <if test="payMsg != null  and payMsg != ''">pay_msg = #{payMsg},</if>
            <if test="payType != null  and payType != ''">pay_type = #{payType},</if>
            <if test="orderId != null  and orderId != ''">order_id = #{orderId},</if>
            <if test="memberValidNum != null ">member_valid_num = #{memberValidNum},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMusicPayById" parameterType="String">
        delete from music_pay where id = #{id}
    </delete>

    <delete id="deleteMusicPayByIds" parameterType="String">
        delete from music_pay where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>