<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.music.mapper.MusicConsultationMapper">
    
    <resultMap type="MusicConsultation" id="MusicConsultationResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="detail"    column="detail"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectMusicConsultationVo">
        select id, title, detail, type, create_by, create_time, update_by, update_time, remark, del_flag from music_consultation
    </sql>

    <select id="selectMusicConsultationList" parameterType="MusicConsultation" resultMap="MusicConsultationResult">
        <include refid="selectMusicConsultationVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectMusicConsultationById" parameterType="String" resultMap="MusicConsultationResult">
        <include refid="selectMusicConsultationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMusicConsultation" parameterType="MusicConsultation">
        insert into music_consultation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="detail != null  and detail != ''">detail,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="detail != null  and detail != ''">#{detail},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateMusicConsultation" parameterType="MusicConsultation">
        update music_consultation
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="detail != null  and detail != ''">detail = #{detail},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMusicConsultationById" parameterType="String">
        delete from music_consultation where id = #{id}
    </delete>

    <delete id="deleteMusicConsultationByIds" parameterType="String">
        delete from music_consultation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>