<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.music.mapper.MusicItemMapper">
    
    <resultMap type="MusicItem" id="MusicItemResult">
        <result property="id"    column="id"    />
        <result property="pid"    column="pid"    />
        <result property="itemNo"    column="item_no"    />
        <result property="voiceSex"    column="voice_sex"    />
        <result property="itemName"    column="item_name"    />
        <result property="voice"    column="voice"    />
        <result property="voiceImg"    column="voice_img"    />
        <result property="solution"    column="solution"    />
        <result property="solutionAnalysis"    column="solution_analysis"    />
        <result property="answerA"    column="answer_a"    />
        <result property="answerB"    column="answer_b"    />
        <result property="answerC"    column="answer_c"    />
        <result property="answerD"    column="answer_d"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectMusicItemVo">
        select id, pid, item_no, voice_sex, item_name, voice, voice_img, solution, solution_analysis, answer_a, answer_b, answer_c, answer_d, create_by, create_time, update_by, update_time, remark, del_flag from music_item
    </sql>

    <select id="selectMusicItemList" parameterType="MusicItem" resultMap="MusicItemResult">
        <include refid="selectMusicItemVo"/>
        <where>  
            <if test="pid != null  and pid != ''"> and pid = #{pid}</if>
            <if test="itemNo != null "> and item_no = #{itemNo}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
        </where>
    </select>
    
    <select id="selectMusicItemById" parameterType="String" resultMap="MusicItemResult">
        <include refid="selectMusicItemVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMusicItem" parameterType="MusicItem">
        insert into music_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="pid != null  and pid != ''">pid,</if>
            <if test="itemNo != null ">item_no,</if>
            <if test="voiceSex != null  and voiceSex != ''">voice_sex,</if>
            <if test="itemName != null  and itemName != ''">item_name,</if>
            <if test="voice != null  and voice != ''">voice,</if>
            <if test="voiceImg != null  and voiceImg != ''">voice_img,</if>
            <if test="solution != null  and solution != ''">solution,</if>
            <if test="solutionAnalysis != null  and solutionAnalysis != ''">solution_analysis,</if>
            <if test="answerA != null  and answerA != ''">answer_a,</if>
            <if test="answerB != null  and answerB != ''">answer_b,</if>
            <if test="answerC != null  and answerC != ''">answer_c,</if>
            <if test="answerD != null  and answerD != ''">answer_d,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="pid != null  and pid != ''">#{pid},</if>
            <if test="itemNo != null ">#{itemNo},</if>
            <if test="voiceSex != null  and voiceSex != ''">#{voiceSex},</if>
            <if test="itemName != null  and itemName != ''">#{itemName},</if>
            <if test="voice != null  and voice != ''">#{voice},</if>
            <if test="voiceImg != null  and voiceImg != ''">#{voiceImg},</if>
            <if test="solution != null  and solution != ''">#{solution},</if>
            <if test="solutionAnalysis != null  and solutionAnalysis != ''">#{solutionAnalysis},</if>
            <if test="answerA != null  and answerA != ''">#{answerA},</if>
            <if test="answerB != null  and answerB != ''">#{answerB},</if>
            <if test="answerC != null  and answerC != ''">#{answerC},</if>
            <if test="answerD != null  and answerD != ''">#{answerD},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateMusicItem" parameterType="MusicItem">
        update music_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="pid != null  and pid != ''">pid = #{pid},</if>
            <if test="itemNo != null ">item_no = #{itemNo},</if>
            <if test="voiceSex != null  and voiceSex != ''">voice_sex = #{voiceSex},</if>
            <if test="itemName != null  and itemName != ''">item_name = #{itemName},</if>
            <if test="voice != null  and voice != ''">voice = #{voice},</if>
            <if test="voiceImg != null  and voiceImg != ''">voice_img = #{voiceImg},</if>
            <if test="solution != null  and solution != ''">solution = #{solution},</if>
            <if test="solutionAnalysis != null  and solutionAnalysis != ''">solution_analysis = #{solutionAnalysis},</if>
            <if test="answerA != null  and answerA != ''">answer_a = #{answerA},</if>
            <if test="answerB != null  and answerB != ''">answer_b = #{answerB},</if>
            <if test="answerC != null  and answerC != ''">answer_c = #{answerC},</if>
            <if test="answerD != null  and answerD != ''">answer_d = #{answerD},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMusicItemById" parameterType="String">
        delete from music_item where id = #{id}
    </delete>

    <delete id="deleteMusicItemByIds" parameterType="String">
        delete from music_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>