/** reset **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img{border:medium none;margin: 0;padding: 0;}
body,button, input, select, textarea{font: 12px/1.5 'Microsoft Yahei',tahoma, Srial, helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
em{font-style:normal;}
ul, ol{list-style: none;}
a{text-decoration: none;color:#333;}
a:hover{text-decoration: none;
		color:#368dda;
		-moz-transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
}
input ,textarea, select ,a {outline:none;}
img{border:0px;  outline-width:0px;  vertical-align:top;}
.clearfix:after{clear:both;content:"\200B";display:block;height:0;}
.clearfix{*zoom:1;}
.fl { float:left;}
.fr { float:right;}
.w1000 { width:1000px; margin:0 auto;}
.hide { display:none;}